body {
	background: url(./img/prism.png) repeat 0 0;
}

.user_container {
    margin: 50px;
    position: absolute;
    width: 20%;
    left: 40%;
    border: solid;
    border-width: 2px;
    
}

/* Courtesy of CSS Button Generator */
.myButton {
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	background-color:#d0451b;
	border-radius:3px;
	border:1px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	padding:13px 100px;
	text-decoration:none;
	text-shadow:0px 1px 0px #854629;
}
.myButton:hover {
	background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	background-color:#bc3315;
}
.myButton:active {
	position:relative;
	top:1px;
}

.login {
	margin: 50px;
    width: 300px;
    overflow: hidden;  
    margin-left: auto;  
    margin-right: auto;
    padding: 20px 20px;
    background-color: #2F3032;
    border: solid;
    border-width: 1px;
    border-radius: 10px;
}

 .login-h1 {
    margin: 0 0 24px 0;
    color: white;
  }

input[type=text], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

.list-item {
  display: flex;
  margin: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.list-h4, .list-p {
    margin: 0;
}
.list-h4 {
    color: #555;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 18px;
}
.list-h1{
    margin: 0;
    margin-top: 10px;
    color: #000;
}
.list-p{
    margin-top: 5px;
    color: #aaa;
}

.list-wrapper {
  max-width: 350px;
  margin: 50px auto;
  background: white;
}

.list {
  background: #fff;
  border-radius: 2px;
  list-style: none;
  padding: 10px 20px;
}

.list-item-image {
    border-radius: 50%;
    width: 64px;
    padding-left: 10px;
    padding-right: 20px;
}